<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Chromium.driver" version="2.37.0" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.17.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.Web.driver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.Web.driver.Chrome.driver" version="84.0.4147.3001" targetFramework="net472" />
  <package id="Web.driverChrome.driver" version="2.10.0" targetFramework="net472" />
</packages>